:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #007BFF;
  --destaque-inverso: #88a8c9;
  --fundo-card: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fundo-principal);
}

code {
  background: var(--fundo-card);
  padding: 2px 6px;
  border-radius: 4px;
}
